@import '../styles/animations' ;


body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
}
.container{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1{
        position: absolute;
        color: whitesmoke;
        font-size: 4rem;
    }
    .uno{
       color : black ;
       text-shadow: 
       -1px -1px 0 white ,
        -1px 1px 0 white ,
        1px 1px 0 white ,
        -1px 1px 0 white
    }

    .dos{
        color: #1787d1;
        animation: waves 2s ease-in-out  infinite;
    }

    .dos:hover{
        cursor: pointer;
    }

    .formPlay{
        display: none;
        flex-direction: column;
        margin-top: 16%;
        gap:1rem; 
    }
}