@import './animations' ; 

body{
    display: flex;
    flex-direction: column;
}
header{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin: .5rem;
    background-color: black;
    h4{
        color: white;
    }
}

.containerTab{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 800px;
    background-color: violet;
    height: 350px;
    margin: auto;
    padding: 1rem;
    overflow: hidden;

    .cord{
        width: 60px;
        height: 60px;
        margin: 1px;
        border-radius: 15px;
        background-color: black;
        transition: .3s;
        animation: tablero 5s linear infinite;
        &:hover{
            transform: scale(1.05);
            cursor:cell;
            background-color: yellow;
        }
    }
    .win{
        background-image: url('../asets/img/navio.webp');
        background-position: center;
        background-size: cover;
        opacity: 70%;
        animation: win .5s;
    }
    .lost{
        background-image: url('../asets/img/close.png');
        animation: lost 1s;
    }
    }   

    .swal2-image{
        width: 100px;
        border-radius: 50%;
    }
